<h1>Assignment 5 - Fancy Signup</h1>
<button onclick="location.href='@Url.Action("Signup", "Home")'">Signup</button>
<button onclick="location.href='@Url.Action("Login", "Home")'">Login</button>
<button onclick="location.href='@Url.Action("SignupSuccessful", "Home")'">Successful</button>
<button onclick="location.href='@Url.Action("LoginSuccessful", "Home")'">LoginSuccessful</button>


